.master-list-mails-container {
  height: 80vh;
  overflow-y: scroll;
  /* overflow-x: hidden; */
}

.mater-list-search-container {
  margin: 1rem 0 2rem 0;
  text-align: center;
}

.master-list-search-input {
  width: 90%;
  padding: 0.7rem 0.7rem 0.7rem 1rem;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.2);
}
