.no-mail-list-container {
  height: 100%;
  text-align: center;
  position: relative;
  top: 100px;
}

.no-mail-list-icon {
  font-size: 3rem;
  color: #999999;
}

.no-mail-list-heading {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
  font-family: Quicksand;
}

.no-mail-list-description {
  font-size: 0.9rem;
  margin: 0.5rem 0 0 0;
  color: #888888;
}