.mail-detail-main-container {
  padding: 0 1rem 0 0;
}

.mail-detail-buttons-container {
  display: flex;
  margin: 1rem 2rem 2rem 3rem;
}

.mail-detail-card-container {
  margin: 1rem 0;
  background-color: white;
  padding: 1rem;
  display: flex;
  cursor: pointer;
}

.mail-detail-card-avatar {
  text-align: center;
  width: 20%;
}

.mail-detail-card-details {
  width: 80%;
}

.mail-detail-card-avatar-icon {
  font-size: 2rem;
  background-color: black;
  color: beige;
  padding: 0.5rem;
  border-radius: 1rem;
}

.mail-detail-card-status-icon {
  float: right;
  padding-right: 2rem;
}

.mail-detail-card-spam-status {
  color: orange;
  font-size: 1.3rem;
}

.mail-detail-card-starred-status {
  color: rgb(222, 211, 3);
  font-size: 1.3rem;
}

.mail-detail-card-sendername {
  font-size: 0.9rem;
  font-weight: bold;
}

.mail-detail-card-date {
  font-size: 0.8rem;
}

.mail-detail-card-arrived {
  color: #777777;
  float: right;
  margin: 0.7rem 0;
  font-size: 0.8rem;
}

.mail-detail-card-senderemail {
  font-size: 0.8rem;
  color: #777777;
}

.mail-detail-card-subject {
  font-size: 0.9rem;
  margin: 0.7rem 0;
  color: #666666;
}

.mail-detail-card-body {
  margin: 2rem 0;
}