.mail-list-card-container {
  margin: 1rem 1rem;
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  box-shadow: 0 0 12px rgba(202, 201, 201, 0.6);
  cursor: pointer;
}

.mail-list-card-read {
  background-color: #ededed;
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.6);
}

.mail-list-card-selected {
  background-color: rgb(250, 190, 138);
  box-shadow: 0 0 12px rgba(169, 167, 167, 0.6);
}

.mail-list-card-selected::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 24px solid rgb(250, 190, 138);
  position: relative;
  right: -35px;
  top: 24px;
  font-size: 2rem;
}

.mail-list-card-avatar {
  text-align: center;
  width: 20%;
}

.mail-list-card-details {
  width: 80%;
}

.mail-list-card-avatar-icon {
  font-size: 2rem;
  background-color: black;
  color: beige;
  padding: 0.5rem;
  border-radius: 1rem;
}

.mail-list-card-sendername {
  font-size: 0.9rem;
  font-weight: bold;
}

.mail-list-card-date {
  font-size: 0.7rem;
  float: right;
}

.mail-list-card-senderemail {
  font-size: 0.8rem;
  color: #777777;
}

.mail-list-card-subject {
  font-size: 0.7rem;
  margin: 0.7rem 0;
  color: #666666;
}